<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizAppTest">
        <activity android:name="com.example.quizapp.quizQuestionActivity"></activity>
        <activity
            android:name="com.example.quizapp.gradeBookActivity"
            android:parentActivityName="com.example.quizapp.MenuPageActivity" />
        <activity
            android:name="com.example.quizapp.topicPageActivity"
            android:parentActivityName="com.example.quizapp.MenuPageActivity" />
        <activity
            android:name="com.example.quizapp.studyPageActivity"
            android:parentActivityName="com.example.quizapp.MenuPageActivity" />
        <activity
            android:name="com.example.quizapp.MenuPageActivity"
            android:parentActivityName="com.example.quizapp.MainActivity" />
        <activity android:name="com.example.quizapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>